[mysqld]
datadir=/var/lib/mysql
bind-address=0.0.0.0
skip-networking=0
user=mysql
port=3306

#"d" stands for "daemon" and this is the server service. 
#mysql is the command-line client program.


# Instead of skip-networking the default is now to listen only on
# localhost which is more compatible and is not less secure.

# bind-address        = 0.0.0.0 # permet a toutes les adresses IP de se connecter